@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
*{
    box-sizing: border-box;
}
body{
    margin:0px; padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background: #367CD1;
    font-size: 16px;
    color:#fff;
}
.mt-1{margin-top: 1rem;}.mt-2{margin-top: 2rem;}
.txt-center{text-align: center;}
.hero-img img{
    margin: 3rem auto;
    display: block;
    width: 4rem;
}
.subtitle{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
p.msg-text{
    text-align: center;
    padding: 0 2rem;
    line-height: 1.6rem;
    font-size: .92rem;
    word-spacing: .15rem;
}
.btn{
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    margin: 1rem 0;
}
input, select{
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-cta{padding: 1rem 3.5rem;}
.btn-primary{background-color: #00A6FF; color: #fff;}
.col-wrapper{padding: 0 1rem; width: 100%;}
.input-group{display: flex;}
.input-group .form-input, select.form-input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width:100%;
}
.input-group .btn{
    margin:0px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.bottom-link{
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
.bottom-link a{
    font-size: .92rem;
    color:#fff;
}
.saldo{
    text-align:center;
    margin: 2rem 0;
}
.saldo p, .saldo h1{margin: 0px;}
.saldo p{font-size: .75rem;}
.saldo h1{font-weight: 300;}
.contas{
    margin:1rem 0;
    overflow: scroll;
    display:flex;
}
.contas::-webkit-scrollbar {display: none;}
.conta p, .conta h3{margin:0px;}
.conta p{font-size:.75rem;}
.conta h3{font-weight:200;}
.conta{
    display: inline-block;
    background: #4ac2e9;
    padding: 2rem 1.5rem;
    border-radius: 3px;
    margin: 0 .5rem;
    flex:1 0 auto;
}


.grafico{
    display:flex;
    height:50%;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    padding: 0px 1.7rem;
}
.grafico .grafico-valor{
    width: 3px;
    background: #256ac4;
    height: 100%;
    margin: .7rem;
}
.grafico .grafico-valor .has-value{
    width: 3px;
    /*background: #e89c4a;*/
    background: #4ac2e8;
    position: absolute;
    bottom: 0;
    border-radius: 1rem;
    height: 0px;
    transition: 1s ease-out;
}