<!--- Principal --->
<div class="saldo">
    <p>Saldo total</p>
    <h1 ng-class="{'debito':$ctrl.getSaldoTotal()<0}">R$ <b ng-bind="$ctrl.getSaldoTotal()|currency:''"></b></h1>
</div>
<div class="spinner" style="margin:60px auto;" ng-if="!charged"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>
<div class="contas" ng-if="charged">
    <div class="conta" ng-repeat="conta in $ctrl.contas" ng-class="{'debito':conta.saldo<0}" ng-click="detalhesConta(conta)">
        <p ng-bind="conta.nome"></p>
        <h3>R$ <b ng-bind="conta.saldo|currency:''"></b></h3>
    </div>
    <div class="conta addContaLink" ng-click="novaConta()">        
        <h3>+ <span ng-if="!$ctrl.contas.length">Adicionar</span> conta</h3>
    </div>
</div>
<div class="grafico">
    <span class="grafico-valor">
        <span class="has-value" style="height:30%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:40%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:10%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:45%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:50%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:55%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:80%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:80%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:80%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:80%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:80%;"></span>
    </span>
    <span class="grafico-valor">
        <span class="has-value" style="height:80%;"></span>
    </span>
</div>
<div class="btn-wrapper">
    <div class="dropdown" ng-class="{'active':options}">
        <ul>
            <li ng-click="novoRegistro('transferencia')">
                <i class="transferencia">&nbsp;</i>
                Transferência
            </li>
            <li ng-click="novoRegistro('entrada')">
                <i class="receita">&nbsp;</i>
                Entrada
            </li>
            <li ng-click="novoRegistro('despesa')">
                <i class="despesa">&nbsp;</i>
                Despesa
            </li>
        </ul>
    </div>
    
    <button class="btn-circle btn-add" ng-class="{'active':options}" ng-click="openOptions()">
        <div class="addSymbol">+</div>
    </button>
</div>